    body {
      text-align: center;
      background: url("http://i202.photobucket.com/albums/aa108/inu_shi/snow-mountains-wallpaper.jpg");
      color: white;
      font-family: 'Martel', serif;
    }
    h1 {
      padding: 0;
      font-size: 50px;
     /* background: rgba(0,0,0,.6);*/
      margin: 0 auto;
    }
    img {
      border-radius: 50px;
      border-color: white;
    }
    ul {
    	background: rgba(0,0,0,.3);
    	max-width: 500px;
    	margin: 0 auto;
    }
    a{
    	color: white;
      text-align: center;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      color: white;
      text-align: center;
    }
    h2 {
      font-size: 25px;
      background: rgba(0,0,0,.4);
      max-width: 600px;
      position: center;
      margin: 0 auto;
    }
    p {
      font-size: 16px;
      background: rgba(0,0,0,.5);
      max-width: 600px;
      margin: 0 auto;
    }
    @ media (max-width: 500px)